@import url('shared.css'); 

/* main layout */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

main {
  padding-top: 10rem;
}

body {
  background-color: var(--color-main);
}

/* ===== contents ===== */
.profile-container {
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: var(--color-main);
  margin-left: 0.5vw;
  padding-right: 1vw;
}

.profile-main {
  display: flex;
  flex-direction: column;
  padding-left: 7vw;

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 3vw;
  }
} 

.profile-allergens-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 5rem;

  h1 {
    font-size: 3vw;
  }
}

.button-row {
  display: flex;
  height: 3rem;
  flex-direction: row;
  margin-left: 3.5rem;
  margin-top: 1rem;
  gap: 1rem;
}

.allergen-config {
  border: none;
  background-color: var(--color-dark-blue);
  color: var(--color-main);
  width: 18vw;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.2s ease;
}

.allergen-config:hover {
  background-color: var(--color-accent);
  transform: scale(1.05);
  filter: brightness(1.1);
}