/* general page layout */
body {
  background-color: #AEE4ED;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* background color to the top navigation */
.topnav {
  background-color: #5FB7CF;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100px;
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
  padding-right: 20px;
  position: fixed;
}

/* inside the navigation bar */
.topnav a {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* color of links on hover */
.topnav a:hover {
  background-color: #ffffff;
  color: black;
}

/* color to the active/current link */
.topnav a.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

/* main title */
.title { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  margin-top: 180px;
  text-shadow: 2px 2px 4px rgba(99, 99, 99, 0.5);
}

/* subtitle */
.subtitle { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #7c7c7c;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

/* bottom information section */
.bottom { 
  background-color: #ffffff;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center; 
  justify-content: center; 
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
}

/* style for buttons */
.button { 
  background-color: #5FB7CF;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

/* style for sign in button */
.button1 { 
  background-color: #5a79c8;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.button2 { /* style for register button */
  background-color: #3c339a;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}